<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/main.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <div class="container">
        <h1 class="heading">Admin page</h1>
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="http://localhost:8000/courses">Courses</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="http://localhost:8000/groups">Groups</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="http://localhost:8000/teachers">Teachers</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="http://localhost:8000/students">Students</a>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
