<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/main.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="http://localhost:8000/courses">Courses</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="http://localhost:8000/groups">Groups</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="http://localhost:8000/teachers"
            >Teachers</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" href="http://localhost:8000/students"
            >Students</a
          >
        </li>
      </ul>
    </header>

    <main>
      <div class="container">
        <h1 class="heading">Courses</h1>

        <ul class="courses_list">
          <li class="courses_item">
            <h3 id="title">Courses name</h3>
            <p class="course_price">Courses price</p>
          </li>
          <% for ( let i of courses) {%>
          <li class="courses_item">
            <h3 id="title"><%= i.course_name %></h3>
            <p class="course_price"><%= i.price %></p>
          </li>
          <%} %>
        </ul>

        <a class="link" href="http://localhost:8000/addCourses">Add Courses</a>
      </div>
    </main>

    <script src="/assets/index.js"></script>
  </body>
</html>
