header, .container{
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

.input{
    display: block;
    width: 200px;
    padding: 10px 20px;
    margin: 0;
    margin-bottom: 20px;
}

.heading{
    display: block;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.form_login{
    display: block;
    width: 200px;
    margin: 0 auto;
}

button{
    display: block;
    width: 100px;
    padding: 10px 10px;
    margin: 0 auto;
}

.nav__list{
    display: block;
    width: 100px;
    margin: 0 auto;
}

.nav__item{
    display: block;
    margin: 0;
    margin-bottom: 20px;
}

.nav__link{
    display: block;
    margin-left: 20px;
}

.header .nav__list{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.courses_item{
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding: 10px 20px;
    border: 3px solid red;
    margin: 0 auto;
}

.link{
    display: block;
    text-align: center;
}

select{
    display: block;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.courses_item-color{
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding: 5px 10px;
    border: 3px solid blue;
    margin: 0 auto;
}

.text{
    display: block;
    width: 250px;
    margin: 0 auto;
}

.teachers .container{
    display: flex;
    justify-content: space-around;
}

.form{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black !important;
    border-radius: 10px;
}